%button {
  padding: 20px 44px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  @extend %button;
  color: $main-theme-color;
  background-color: #fff;
}

header .button {
  @include respond-to('huge') {
    margin-left: 56px;
  }
}

.inverse {
  @extend %button;
  color: #fff;
  background-color: $main-theme-color;
}

.consert-details-box .button {
  display: table;
}
