.button {
  padding: 20px 44px;
  border-radius: 100px;
  color: $main-theme-color;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
}

header .button {
  @include respond-to('huge') {
    margin-left: 56px;
  }
}
