.navigation {
  margin: 0;

  li {
    text-align: center;

    &:first-child a {
      margin-left: 0;
    }

    @include respond-to('medium') {
      display: inline-block;
    }
  }

  a {
    display: block;
    margin-left: 5px;
    padding: 10px;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    @include respond-to('small') {
      margin-left: 0;
      font-size: 20px;
    }
    @include respond-to('medium') {
      font-size: 13px;
    }

    &.active::before {
      content: '';
      height: 1px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
    }
  }
}

footer {
  .navigation a {
    color: $default-color-text;
    @include respond-to('small') {
      margin-left: 0;
    }
    @include respond-to('medium') {
      margin-left: 45px;
    }

    &.active::before {
      content: none;
    }
  }
}
