.promo-title {
  text-align: left;
}

.section-title {
  margin: 103px 0 0 0;
  font-family: $section-title-font;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-discription {
  margin: 0;
  font-family: $section-discription-font;
  font-size: 32px;
  color: $main-theme-color;
}

.promo .promo-title {
  text-align: center;
  //padding-bottom: 30px;

  .section-title {
    margin: 0;
    font-weight: 700;
    color: $main-theme-color;
    @include respond-to('small') {
      font-size: 60px;
    }
    @include respond-to('medium') {
      font-size: 80px;
    }
    @include respond-to('huge') {
      font-size: 116px;
    }
  }

  .section-discription {
    color: $default-color-text;
    @include respond-to('small') {
      font-size: 32px;
    }
    @include respond-to('huge') {
      font-size: 80px;
    }
  }
}

.upcoming .promo-title {
  margin-bottom: 55px;
}

.founder-section {
  .promo-title {
    @include respond-to('medium') {
      margin-left: 100px;
    }

    h2 {
      font-size: 32px;
      color: #fff;
      text-shadow: 0 0 5px #000;
    }

    p {
      margin-bottom: 30px;
      font-size: 22px;
      color: #fff;
      text-shadow: 0 0 5px #000;
      font-family: $section-title-font;

      &.container {
        max-width: 556px;
        padding: 0;
      }
    }
  }
}

.band-name {
  font-size: 64px;
  font-family: $section-discription-font;
}

.download-section {
  .promo-title {
    margin: 0 auto;

    h2 {
      color: #fff;
      text-align: center;
      font-weight: 500;
    }

    p {
      padding: 15px;
      color: #fff;
      font-size: 22px;
      letter-spacing: 1.1px;
      text-align: center;
      font-family: $section-title-font;
    }
  }
}
