.social-widgets {
  margin-bottom: 30px;
  text-align: center;
  @include respond-to('huge') {
    display: inline-block;
    margin-bottom: 0;
  }

  a {
    margin-left: 20px;
    color: #fff;

    &:first-child {
      margin-left: 0;
    }
  }
.widget-count {
  margin-left: 5px;
  font-size: 14px;
}
