.social-widgets {
  margin-bottom: 30px;
  padding: 17px 27px;
  text-align: center;
  background-color: $main-theme-color;
  @include respond-to('huge') {
    display: inline-block;
    margin-bottom: 0;
  }

  a {
    margin-left: 20px;
    color: #fff;

    &:first-child {
      margin-left: 0;
    }
  }

  .widget-count {
    margin-left: 5px;
    font-size: 14px;
  }
}
.discription-photo .social-widgets {
  margin-bottom: 0;
  display: none;
}
.discription-photo:hover .social-widgets {
  display: block;
}
