.founder-section {
  .container-bg {
    min-height: 370px;
    padding: 1px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: url("../img/founder-bg.png") 100% 0 no-repeat;
    background-size: cover;
  }
}
