.promo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: url("../img/promo-bg.png") 50% 100px no-repeat;
  background-size: cover;

  @include respond-to('small') {
    background-position: 35% 460px;
  }
  @include respond-to('medium') {
    background-position: 40% 260px;
  }
  @include respond-to('large') {
    background-position: 45% 200px;
  }
  @include respond-to('huge') {
    background-position: 50% 100px;
  }
}
