.upcoming-and-latest {
  margin-bottom: 40px;
}

.upcoming {
  text-align: center;
  @include respond-to('medium') {
    display: inline-block;
    text-align: left;
  }
  @include respond-to('large') {
    float: left;
  }
}

.consert-box {
  flex-direction: column;
  @include respond-to('huge') {
    display: flex;
    flex-direction: row;
  }
}

.consert-details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include respond-to('small') {
    margin-left: 0;
  }
  @include respond-to('huge') {
    margin-left: 80px;
  }
}

.latest {
  @include respond-to('medium') {
    display: inline-block;
    float: right;

  }
  @include respond-to('large') {
    margin-top: 0;
  }

  .consert-photo {
    a {
      background-color: #fff;
      border-radius: 50%;
    }

    .fa-play-circle {
      font-size: 70px;
      color: $main-theme-color;
    }
  }
}
